<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
  <div id="cartWrap">
    <dl class="loc-navi">
      <dt class="blind">현재 위치</dt>
      <dd>
        <a href="/">HOME</a>
        &gt; CART
      </dd>
    </dl>
    <h2>장바구니</h2>
    <div>
      <div>
        <table summary="번호, 사진, 제품명, 수량, 적립, 가격, 배송비, 취소">
          <caption>장바구니 담긴 상품</caption>
          <colgroup>
            <col width="75">
            <col width="90">
            <col width="*">
            <col width="115">
            <col width="95">
            <col width="105">
            <col width="95">
            <col width="95">
          </colgroup>
          <thead>
          <tr>
            <th scope="col"><div class="tb-center">&nbsp;</div></th>
            <th scope="col"><div class="tb-center">&nbsp;</div></th>
            <th scope="col"><div class="tb-center">제품</div></th>
            <th scope="col"><div class="tb-center">수량</div></th>
            <th scope="col"><div class="tb-center">적립</div></th>
            <th scope="col"><div class="tb-center">금액</div></th>
            <th scope="col"><div class="tb-center">배송비</div></th>
            <th scope="col"><div class="tb-center">선택</div></th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <td colspan="8">
              <div class="tb-center tb-normal">장바구니에 담긴 상품이 없습니다.</div>
            </td>
          </tr>
          </tfoot>
          <tbody>
          </tbody>
        </table>
      </div><!-- .table-fill-prd -->


      <div class="btn-order-ctrl">
        <a href="javascript:alert('주문이 가능한 금액이 아닙니다.고객센터에 문의 바랍니다.')" class="CSSbuttonBlack">주문하기</a>
        <a href="/html/mainm.html" class="CSSbuttonWhite">계속 쇼핑하기</a>
        <a href="javascript:basket_clear();" class="CSSbuttonWhite">장바구니 비우기</a>
        <a href="javascript:basket_estimate()" class="CSSbuttonWhite">견적서 출력</a>
      </div>
      <div class="cart-ft2">
      </div>
    </div><!-- .page-body -->
  </div><!-- #cartWrap -->
</div>
</body>
</html>