<footer th:fragment="footer" xmlns:th="">
  <div class="footer_top">
    <div class="wrap">
      <ul>
        <li><a href="#">회사소개</a></li>
        <li><a href="#">쇼핑가이드</a></li>
        <li><a href="#"><span>개인정보 처리방침</span></a></li>
        <li><a href="#">이용약관</a></li>
      </ul>
      <ul>
        <li><a href="../index.html">HOME</a></li>
        <li><a href="../index.html">GO TO TOP</a></li>
      </ul>
    </div>
  </div>
  <div class="footer_center">
    <div class="wrap">
      <table>
        <tr>
          <td>고객센터</td>
          <td></td>
          <td>입금계좌안내</td>
        </tr>
        <tr>
          <td>070-4322-0021</td>
          <td>평일 : 10:00~18:00 / 점심 : 12:00~13:00 <br>
            토/일요일과 공휴일은 휴무입니다.</td>
          <td>농협은행 302-5068-4227-61 <br>
            국민은행 676901-01-197536</td>
        </tr>
      </table>
    </div>
  </div>
  <address>
    <div class="wrap">
      <p>회사명 : 이스트베이 / 대표 : 황재원 / 주소 : 서울시 송파구 충민로 66, 티동9층 9140호 / 전화 : 070-4322-0021 / FAX : 031-624-4904 <br>
        사업자등록번호 : 318-12-00340 <a href="#">[사업자정보확인]</a> / 개인정보담당자 : 황재원<a href="#">(help@worldperfume.co.kr)</a> / 통신판매업신고번호 : 제2020-서울송파-3452 호</p>

      <p>COPYRIGHT BY 이스트베이 ALL RIGHTS RESERVED</p>
    </div>
  </address>
</footer>