.side-s1 {
    margin-top: 50px;
}
.side-s1 .wrap > p {
    transform: translateX(92%);
    font-size: 11px;
}
.side-s1 .wrap h1 {
    margin-top: 30px;
    text-align: center;
    border-bottom: 2px solid #111;
    padding-bottom: 20px;
    font-size: 24px;
}
.side-s1 .wrap .boxs {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.side-s1 .wrap .boxs .category {
    border: 1px solid #888;
    width: 19%; height: 100%;
    padding: 30px 30px 30px 10px;
}
.side-s1 .wrap .boxs .category .category-top {
    border-bottom: 1px solid #111;
}
.side-s1 .wrap .boxs .category .category-top h2 {
    font-size: 15px;
    padding-bottom: 5px;
}
.side-s1 .wrap .boxs .category .category-bottom {
    margin-top: 20px;
}
.side-s1 .wrap .boxs .category .category-bottom ul li {
    margin-top: 10px;
}
.side-s1 .wrap .boxs .category .category-bottom ul li a {
    font-size: 14px;
}
.side-s1 .wrap .boxs .category .category-bottom ul li a span {
    color: #cccccc;
}
.side-s1 .wrap .boxs .products-box {
    width: 100%;
    margin-left: 50px;
    position: relative;
}
.side-s1 .wrap .boxs .products-box .title {
    position: absolute;
    right: 0;
}
.side-s1 .wrap .boxs .products-box .title ul {
    display: flex;
}
.side-s1 .wrap .boxs .products-box .title ul li {
    margin-left: 10px;
}
.side-s1 .wrap .boxs .products-box .title ul li a {
    font-size: 11.5px;
    color: #aaa;
}
.side-s1 .wrap .boxs .products-box .products ul{
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.side-s1 .wrap .boxs .products-box .products ul li {
    width: 24%;
    text-align: left;
    padding:0 2.5%;
    position: relative;
}
.side-s1 .wrap .boxs .products-box .products ul li a:nth-child(2) {
    position: absolute;
    z-index: 10;
    width: 15px;
    top: 0; right: 0px;
    opacity: 0;
    transition: opacity 500ms;
}
.side-s1 .wrap .boxs .products-box .products ul li:hover a:nth-child(2) {
    opacity: 1;
}
.side-s1 .wrap .boxs .products-box .products ul li .info {
    margin-bottom: 50px;
}
.side-s1 .wrap .boxs .products-box .products ul li .info p {
    font-size: 14px;
    color: #222;
    margin: 14px 0;
}
.side-s1 .wrap .boxs .products-box .products ul li .info b {
    font-size: 12px;
    text-decoration: underline;
    text-decoration-line: line-through;
    color: #777;
}
.side-s1 .wrap .boxs .products-box .products ul li .info u{
    font-size: 14px;
    font-weight: bold;
    color: red;
    text-decoration: none;
}
.side-s1 .wrap .boxs .products-box .products ul li .info em {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}