<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div layout:fragment="content">
  <h1 th:text="${question.subject}"></h1>
  <div th:text="${question.content}"></div>
  <div>
    <div>
      <div><span th:if="${question.author != null}" th:text="${question.author.username}"></span></div>
      <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH')}"></div>
    </div>
  </div>
  <h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
  <div th:each="answer : ${question.answerList}" >
      <div th:text="${answer.content}"></div>
      <div>
        <div>
          <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
        </div>
        <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH')}"></div>
      </div>
    <div class="my-3">
      <a th:href="@{|/answer/modify/${answer.id}|}" sec:authorize="isAuthenticated()" th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
         th:text="수정"></a>
      <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}" class="delete" sec:authorize="isAuthenticated()" th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}" th:text="삭제"></a>
    </div>

  </div>
  <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post">
    <div th:replace="~{fragments/form_errors :: formErrorsFragment}"></div>
    <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="10" placeholder="로그인 후 이용해주세요"></textarea>
    <textarea sec:authorize="isAuthenticated()" th:field="*{content}"  rows="10"></textarea>
    <input type="submit" value="답변등록">
    <div>
      <a th:href="@{|/question/modify/${question.id}|}" sec:authorize="isAuthenticated()" th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}" th:text="수정"></a>
      <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}" sec:authorize="isAuthenticated()" th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}" class="delete" th:text="삭제"></a>
    </div>
  </form>
</div>
<script layout:fragment="script" type='text/javascript'>
  const delete_elements = document.getElementsByClassName("delete");
  Array.from(delete_elements).forEach(function(element) {
      element.addEventListener('click', function() {
          if(confirm("정말로 삭제하시겠습니까?")) {
              location.href = this.dataset.uri;
          };
      });
  });
</script>
</body>
</html>